<div class="container" [ngClass]="{'list-group-item':true,
'list-group-item-info':loveIts>'0',
'list-group-item-danger':loveIts<'0'
}">
  <h2>{{title}}</h2>
  <h5>{{created_at | date : 'short'}}</h5>
  <p>{{content}}</p>
  <p>Vous avez : {{loveIts}} Love</p>

  <button type="button" (click)="onAddLove()" class="btn btn-success btn-space">Love it</button>
  <button type="button" (click)="onDontLove()" class="btn btn-danger btn-space">Don't love it</button>
</div>