<div class="container">
    <div class="row">
        <div class="list-group">
            <h2>{{title}}</h2>
            <app-post-list-item-component *ngFor="let post of posts" [title]="post.title" 
            [content]="post.content" [created_at]="post.created_at" [loveIts]="post.loveIts"></app-post-list-item-component>
       
            </div>
    </div>
</div>
